<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/lib/angular/angular.js"></script>
        <script src="/static/lib/angular/angular-resource.js"></script>

        <script src="/static/js/app.js"></script>
        <!--<script src="/static/js/controllers.js"></script>-->
        <script src="/static/js/controllers/cameraCtrl.js"></script>
        <script src="/static/js/services.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Stylesheet #3: If you're using compiled SASS -->
        <link rel="stylesheet" href="static/css/startup.css">

    </head>

    <body>

        <div id="stage">
            <div id="stage-caption">
                <h1 class="display-3">UWB</h1>
                <p>Embedded Systems</p>
                <!--<a href="" class="btn btn-lg btn-success">Sign up now</a>-->
            </div>
        </div>

        <div id="content" class="container main" ng-view></div>


        <!-- Footer -->
        <footer id="main-footer">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </footer>
        <!-- End Footer -->


    </body>
</html>