
    <section id="camera" ng-controller="CameraController">
        <div class="container">
            <div class="row">
                <div class="camera-content">

                    <div class="col-lg-6">
                        <embed id="vlcEmb" type="application/x-vlc-plugin" autoplay="yes" loop="no" frameborder="0" width="100%" height="315"
                               target="rtsp://10.156.4.246:8554/" ></embed>
                    </div>


                    <div class="col-lg-5 col-lg-offset-1">
                        <h6>Move The Camera</h6>
                        <button type="button" id="up" class="btn btn-info start" ng-click="tiltUp()">Up</button>
                        <button type="button" id="down" class="btn btn-info start" ng-click="tiltDown()">Down</button>
                        <button type="button" id="left" class="btn btn-info start" ng-click="tiltLeft()">Left</button>
                        <button type="button" id="right" class="btn btn-info start" ng-click="tiltRight()">Right</button>
                    </div>
                </div>
            </div>
        </div>
    </section>